<div class="patreon">
    <p>Don't like ads?&nbsp;Neither do I.&nbsp;Help me keep this page ad-free!</p>
    <a title="Become a Patron" href="https://www.patreon.com/bePatron?u=27792463" rel="payment">
        <span>
            <svg viewBox="0 0 569 546" xmlns="http://www.w3.org/2000/svg" class="patreon-logo">
                <g>
                    <circle cx="362.589996" cy="204.589996" data-fill="1" id="Oval" r="204.589996"></circle>
                    <rect data-fill="2" height="545.799988" id="Rectangle" width="100" x="0" y="0"></rect>
                </g>
            </svg>
        </span>
        <span>Become a Patron!</span>
    </a>
</div>