{% if page.lang == 'de-DE'%}
<p>Diese Seite benutzt Cookies, um ein besseres Nutzerlebnis zu ermöglichen.
    Bis die <a title="Datenschutz- & Cookie-Erklärung " href="{{ "/datenschutz/" | absolute_url }}" target="_blank" rel="noopener"></a> akzeptiert werden, sind diese Funktionen deaktiviert.
    Keine Cookies werden gespeichert bis die Erklärung akzeptiert wird.
    Die Seite funktioniert bis dahin mit eingeschränkter Funktionalität weiter.
</p>
<p><a title="Accept Cookies" class="btn btn-lg btn-block btn-green" href="#" onclick="acceptPolicy()"><span class="unicode-icon">✔️</span>Alle Cookies<span class="d-none d-lg-inline d-xl-inline"> und Scripts</span> akzeptieren</a></p>

{% else %}
<p>This page uses cookies to improve user experience.
    Until you accept the <a title="Cookie &amp; Privacy Policy" href="{{ "/en/privacy/" | absolute_url }}" target="_blank" rel="noopener">Cookie &amp; Privacy Policy</a> those features are disabled.
    No cookies will be stored until the policy is accepted.
    The page will continue working with limited features.
</p>
<p><a title="Accept Cookies" class="btn btn-lg btn-block btn-green" href="#" onclick="acceptPolicy()"><span class="unicode-icon">✔️</span> <span class="lg-up">I Want the Best Experience and </span>Accept All Cookies<span class="d-none d-lg-inline d-xl-inline"> and scripts</span></a></p>
{% endif %}