<h2>Leave a Comment</h2>
<form name="Comments" method="POST" action="{{ site.comments.action }}" id="commentform" class="form-horizontal" data-netlify="true" data-netlify-recaptcha="true">
  <fieldset id="commentfields">
    <input name="slug" type="hidden" value="{{ slug }}">
    <div>
      <label for="message">Comment*</label>
      <textarea name="message" id="message" placeholder="Leave a comment."></textarea>
    </div>
    <div>
      <label for="name">Name </label>
      <input type="text" name="name" id="name" placeholder="Name" />
      <label for="email">Email <span>(not shown)</span></label>
      <input type="email" name="email" id="email" placeholder="name@domain.tld" />
      <label for="url">Website</label>
      <input type="text" name="url" id="url" placeholder="https://domain.tld" />
    </div>
    <div data-netlify-recaptcha="true"></div>
    <div>
      <button type="sumbit" id="commentbutton" class="btn btn-primary btn-block">Submit Comment</button>
    </div>
  </fieldset>
</form>
