<span class="button">
  <a title="Toggle Dark Theme" href="#" onclick="toggleTheme();" aria-label="Toogle Dark Theme">
    <span>💡</span>
  </a>
</span>
<span class="button sm-down">
  <a title="Increase Font Size" href="#" onclick="zoom(2);" aria-label="Increase Font Size">
    <span>🔍+</span>
  </a>
</span>
<span class="button sm-down">
  <a title="Decrease Font Size" href="#" onclick="zoom(-2);" aria-label="Decrease Font Size">
    <span>🔍−</span>
  </a>
</span>
<span class="button">
  <a title="Toggle TTS" href="#" onclick="toggleTTS()" aria-label="Toggle TTS">
    <span>💬</span>
  </a>
</span>
