<input 
  id="dark-mode" aria-label="Toggle Dark Mode"
  type="checkbox" checked data-toggle="toggle" data-on="💡" data-off="💡" data-onstyle="success" data-offstyle="danger" data-size="lg" data-width="100%">
<input 
  id="tts" aria-label="Toggle TTS"
  type="checkbox" data-toggle="toggle" data-on="💬" data-off="💬" data-onstyle="success" data-offstyle="danger" data-size="lg" data-width="100%">
<a class="btn btn-primary btn-lg d-block d-lg-none d-xl-none" 
  title="Increase Font Size" href="#" onclick="zoom(2);" aria-label="Increase Font Size">
    <span>🔍+</span>
</a>
<a class="btn btn-primary btn-lg d-block d-lg-none d-xl-none"
  title="Decrease Font Size" href="#" onclick="zoom(-2);" aria-label="Decrease Font Size">
    <span>🔍−</span>
</a>