<p class="ko-fi support">
  <a title="Support me on ko-fi" href="https://ko-fi.com/crystaldown" aria-label="Support me on ko-fi" rel="payment">
    <img src="{{"/assets/images/ko-fi.png" | absolute_url }}" alt="Support me on ko-fi">
  </a>
</p>
<p class="patreon support">
    <a title="Support me on Patreon" href="{{ site.patreon.url }}" aria-label="Support me on Patreon" rel="payment">
      <img src="{{"/assets/images/patreon-word.png" | absolute_url }}" alt="Support me on Patreon">
    </a>
  </p>
<p>
  {{ site.copyright.license }}
  {% if site.copyright.url %}
  <a 
    title="{{ site.copyright.name }}"
    href="{{ site.copyright.url | absolute_url }}"
    target="_blank"
    rel="author noopener">{% endif %}{{ site.copyright.name }}{% if site.copyright.url %}</a>{% endif %}<br>
  <small class="block-left">Hosted on <a href="https://www.netlify.com/" rel="nofollow">netlify</small>
  <small class="block-right"><a title="Privacy Statement" href="{{ "/privacy/" | absolute_url }}">Privacy</a></small>
</p>
<p class="clearfix" aria-hidden="true"></p>