<p>This page might use cookies to improve user experience. Until you accept the
<a title="Cookie &amp; Privacy Policy" href="{{ "/privacy/" | absolute_url }}" target="_blank" rel="noopener">Cookie &amp; Privacy Policy</a> those features are disabled. No cookies will be stored until the policy is accepted.
</p>
<p><a title="Accept Cookies" class="btn btn-lg btn-block btn-success" href="#" onclick="acceptPolicy()"><span class="unicode-icon">✔️</span> <span class="lg-up">I Want the Best Experience and </span>Accept All Cookies<span class="d-none d-lg-inline d-xl-inline"> and scripts</span></a></p>
