<p>This page might use cookies to improve user experience. Until you accept the
<a title="Cookie &amp; Privacy Policy" href="{{ "/privacy/" | absolute_url }}" target="_blank" rel="noopener">Cookie &amp; Privacy Policy</a> those features are disabled. No cookies will be stored until the policy is accepted.
</p>
<a title="Accept Cookies" class="policy-button-all" href="#" onclick="acceptPolicy(); loadGoogleAnalytics();"><span class="unicode-icon">✔️</span> <span class="lg-up">I Want the Best Experience and </span>Accept All Cookies<span class="lg-up"> and scripts</span></a>
