<div class="ko-fi">
    <a title="Support me on ko-fi" href="https://ko-fi.com/crystaldown" aria-label="Support me on ko-fi" rel="payment">
        <img src="{{"/assets/images/ko-fi.png" | absolute_url }}" alt="Support me on ko-fi">
    </a>
</div>
<div class="patreon">
    <a title="Support me on Patreon" href="{{ site.patreon.url }}" aria-label="Support me on Patreon" rel="payment">
        <img src="{{"/assets/images/patreon-word.png" | absolute_url }}" alt="Support me on Patreon">
    </a>
</div>