<div class="d-inline-flex flex-row">
  <input id="dark-mode" aria-label="Toggle Dark Mode" type="checkbox" data-toggle="toggle" data-on="🌖" data-off="🔆"
    data-onstyle="primary" data-offstyle="danger" data-size="lg" data-width="100%">
  <input id="line-height" aria-label="Toggle Line Height" type="checkbox" data-toggle="toggle" data-on="↕☰"
    data-off="↕═" data-onstyle="primary" data-offstyle="danger" data-size="lg" data-width="100%">
</div>
<div class="d-inline-flex flex-row lg-nomargin">
  <input id="dyslexic" aria-label="Toggle Font" type="checkbox" data-toggle="toggle" data-on="a" data-off="ɑ"
    data-onstyle="primary" data-offstyle="danger" data-size="lg" data-width="100%">
  <input id="tts" aria-label="Toggle TTS" type="checkbox" data-toggle="toggle" data-on="💬" data-off="💬"
    data-onstyle="primary" data-offstyle="danger" data-size="lg" data-width="100%">
</div>
<div class="d-inline-flex flex-row d-lg-none d-xl-none">
  <a class="btn btn-primary btn-lg" title="Increase Font Size" href="#" onclick="zoom(2);"
    aria-label="Increase Font Size">
    <span>🔍+</span>
  </a>
  <a class="btn btn-primary btn-lg" title="Decrease Font Size" href="#" onclick="zoom(-2);"
    aria-label="Decrease Font Size">
    <span>🔍−</span>
  </a>
</div>
