<ul class="navbar-nav mr-auto">
  <li class="nav-item dropdown">
    {% if page.type == 'posts' %}{% assign ps = site.posts %}{% else %}{% assign ps = site.pages %}{% endif %}
    {% if page.lang == 'de-DE' %}
    <div class="dropdown-menu" aria-labelledby="lang-dropdown">
      {% assign p = ps | where: 'ref', page.ref | where: 'lang', 'en-GB' | last %}
      <a class="dropdown-item" title="{% if p.nav_title %}{{ p.nav_title }}{% else %}{{ p.title }}{% endif %}" rel="alternate" href="{{ p.url | absolute_url }}" hreflang="en-GB">
        <img src="/assets/images/flag-uk.webp" alt="English (UK)" height="16" width="16" class="mx-0 d-inline-block">
        {% if p.nav_title %}{{ p.nav_title }}{% else %}{{ p.title }}{% endif %}
      </a>
    </div>
    {% else %}    
    <div class="dropdown-menu" aria-labelledby="lang-dropdown">
      {% assign p = ps | where: 'ref', page.ref | where: 'lang', 'de-DE' | last %}
      <a class="dropdown-item" title="{% if p.nav_title %}{{ p.nav_title }}{% else %}{{ p.title }}{% endif %}" rel="alternate" href="{{ p.url | absolute_url }}" hreflang="de-DE">
        <img src="/assets/images/flag-de.webp" alt="Deutsch" height="16" width="16" class="mx-0 d-inline-block">
        {% if p.nav_title %}{{ p.nav_title }}{% else %}{{ p.title }}{% endif %}
      </a>
    </div> 
    {% endif %}    
  </li>
{% for item in site.data.navigation %}
{% if item.subitems %}
<li class="nav-item dropdown">
  <a class="nav-link dropdown-toggle" id="{{ item.id }}-dropdown"
  role="button" data-toggle="dropdown" aria-expanded="false">
    {% if page.lang == 'de-DE' %}{{ item.title.de }}{% else %}{{ item.title.en }}{% endif %}
  </a>
  <div class="dropdown-menu" aria-labelledby="{{ item.id }}-dropdown">
    {% for subitem in item.subitems %}
      {% assign p = site.pages | where: 'lang', page.lang | where: 'ref', subitem.ref | last %}
      <a
        class="dropdown-item {{ subitem.class }}"
        title="{% if p.nav_title %}{{ p.nav_title }}{% else %}{{ p.title }}{% endif %}"
        href="{{ p.url | absolute_url }}"
        {% if subitem.onclick %}onclick="{{ subitem.onclick }}"{% endif %}
        {% if subitem.type %}type="{{ subitem.type }}"{% endif %}
        {% if subitem.target %}target="{{ subitem.target }}"{% endif %}
        {% if subitem.rel %}rel="{{ subitem.rel }}"{% endif %}>
        {% if p.nav_title %}{{ p.nav_title }}{% else %}{{ p.title }}{% endif %}
      </a>
    {% endfor %}
  </div>
</li>
{% elsif item.ref %}
<li class="nav-item">
  {% assign p = site.pages | where: 'lang', page.lang | where: 'ref', item.ref | last %}
  <a
    class="nav-link {{ item.class }}"
    title="{% if p.nav_title %}{{ p.nav_title }}{% else %}{{ p.title }}{% endif %}"
    href="{{ p.url | absolute_url }}"
    {% if item.onclick %}onclick="{{ item.onclick }}"{% endif %}
    {% if item.type %}type="{{ item.type }}"{% endif %}
    {% if item.target %}target="{{ item.target }}"{% endif %}
    {% if item.rel %}rel="{{ item.rel }}"{% endif %}>
    {% if p.nav_title %}{{ p.nav_title }}{% else %}{{ p.title }}{% endif %}
  </a>
</li>
{% endif %}
{% endfor %}
