.animated .policy-banner {
  transition-property: all;
  transition-duration: 1s;
  transition-delay: 0s;
}

.interface input {
  display: none;
}

.interface .interface > p:first-child ~ *,
.top-drowdown > p:first-child ~ * {
  display: none;
}

.interface .interface > p:first-child::before,
.top-toggle > p:first-child::before {
  display: inline-block;
  content: "▼";
  width: 1.5em;
  text-align: left;
  font-family: emoji;
}

.interface .interface > p:first-child.active ~ *,
.top-toggle > p:first-child.active ~ * {
  display: block;
}

.interface .interface > p:first-child.active::before,
.top-toggle > p:first-child.active::before {
  display: inline-block;
  content: "▲";
  width: 1.5em;
  text-align: left;
  font-family: emoji;
}

.interface>p:only-child::before {
  content: " " !important;
}