/// new Colors
$primary:             rgb(213,  54,   0);
$primary-lightest:    rgb(255, 234, 227);
$primary-light:       rgb(244, 122,  80);
$primary-dark:        rgb(149,  38,   0);
$primary-darkest:     rgb( 46,  12,   0);

// Main Secondary color (1) */
$secondary:           rgb( 21,  27, 148);
$secondary-lightest:  rgb(172, 173, 190);
$secondary-light:     rgb( 72,  77, 170);
$secondary-dark:      rgb(  8,  13, 104);
$secondary-darkest:   rgb(  0,   2,  32);

// Main Secondary color (2) */
$tertiary:            rgb(176, 207,   0);
$tertiary-lightest:   rgb(245, 249, 221);
$tertiary-light:      rgb(213, 237,  78);
$tertiary-dark:       rgb(123, 145,   0);
$tertiary-darkest:    rgb( 38,  45,   0);

// Main Complement color */
$complement:          rgb(  0, 148,  77);
$complement-lightest: rgb(170, 191, 181);
$complement-light:    rgb( 56, 170, 115);
$complement-dark:     rgb(  0, 104,  54);
$complement-darkest:  rgb(  0,  32,  17);

$white: rgb(255, 255, 255);
$grey:  rgb(127, 127, 127);
$black: rgb(33, 33, 33);
