#body {
  >header {
    background: var(--blue);

    a {
      color: $white !important;
    }

    >nav {
      p {
        @media (max-width: 575px) {
          a {
            color: #fff !important;

            background-color: #007bff;
            border-color: #007bff;

            &:hover {
              background-color: #0069d9;
              border-color: #0062cc;
            }

            &:focus {
              background-color: #0069d9;
              border-color: #0062cc;
              box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, .5);
            }
          }
        }
      }
    }
  }
}

.light-theme {
  color: rgb(77, 77, 77);
  background-color: $white;

  hr {
    background-color: rgb(77, 77, 77);
  }

  header,
  nav,
  footer {
    .h1 {
      color: $primary-dark;
    }
  }

  .interface {
    background-color: $buttonface;
  }
}

.dark-theme {
  color: rgb(191, 191, 191);
  background-color: $black;

  hr {
    background-color: rgb(191, 191, 191);
  }

  footer,
  header,
  nav {
    color: rgb(191, 191, 191);

    .h1 {
      color: $primary;
    }
  }

  .interface {
    background-color: mix($buttonface, $black, 10%);
    border-color: mix($buttonface, $black, 20%);
  }

  .invert-on-dark {
    filter: invert(100%);
    background: transparent;
  }
}

.policy-banner {
  background-color: $secondary-darkest;

  p {
    color: #fff !important;
  }

  .policy-button-all {
    background-color: $primary-dark !important;
    color: $white !important;

    span {
      color: $white !important;
    }
  }
}

.interface {

  >p,
  >h3 {

    &:first-child,
    span * {
      background-color: var(--blue);
      color: $white;
    }
  }

  >h3 a {
    background-color: var(--blue);
    color: $white;
  }
}