#body {
  >header {
    background: var(--blue);

    &, a {
      color: $white !important;
    }
  }

  >nav {
    p {
      background-color: #007bff;
      border-color: #007bff;

      &:hover,
      &:focus {
        background-color: #0069d9;
        border-color: #0062cc;
        box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, .5);
      }

      &, a {
        color: #fff !important;
      }
    }
  }
}

.light-theme {
  color: rgb(77, 77, 77);
  background-color: $white;

  hr {
    background-color: rgb(77, 77, 77);
  }

  header,
  nav,
  footer {
    .h1 {
      color: $primary-dark;
    }
  }

  .interface {
    background-color: $buttonface;
  }

  .handwriting {
    border: 1px rgb(77, 77, 77) solid;
  }
}

.dark-theme {
  color: rgb(191, 191, 191);
  background-color: $black;
  --var-blue: #0072ed !important;
 

  > header,
  > nav p,
  .btn-primary {
    background-color: #0072ed !important;
  }

  hr {
    background-color: rgb(191, 191, 191);
  }

  footer,
  header,
  nav {
    color: rgb(191, 191, 191);

    .h1 {
      color: $white;
    }
  }

  .interface {
    background-color: #171717;
    border-color: mix($buttonface, $black, 20%);
    h3:first-child, p:only-child {
      &, a:link, a:hover, a:active, a:visited {
        background-color: #0072ed !important;
      }
    }
  }

  .invert-on-dark {
    filter: invert(100%);
    background: transparent;
  }

  .handwriting {
    border: 1px rgb(191, 191, 191) solid;
  }
}

.policy-banner {
  background-color: $secondary-darkest;

  p {
    color: #fff !important;
  }

  .policy-button-all {
    background-color: $primary-dark !important;
    color: $white !important;

    span {
      color: $white !important;
    }
  }
}

.interface {
  >p:first-child,
  >h2:first-child,
  >h3:first-child,
  >script:first-child + p,
  >script:first-child + h2,
  >script:first-child + h3 {
    &,
    span * {
      background-color: var(--blue);
      color: $white;

      a {
        color: $white;
      }
    }
  }

  >h3 a {
    background-color: var(--blue);
    color: $white;
  }
}