#body {
  @media (min-width: 992px) {
    grid-template: auto / auto;
    grid-template-areas:
      "policy-banner"
      "title"
      "breadcrumbs"
      "content"
      "footer";

    > .breadcrumb,
    > main {
      margin-left: 2rem;
    }
    
    > nav {
      display: none;
    }
  }
}
