@font-face {
  font-family: "Marcellus";
  font-style: normal;
  font-weight: 400;
  src: local('Marcellus.ttf');
}

@font-face {
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 400;
  src: local('Source-Sans-Pro.ttf');
}

@font-face {
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: bold;
  src: local('Source-Sans-Pro-Bold.ttf'),
}

@font-face {
  font-family: "Source Serif Pro";
  font-style: normal;
  font-weight: bold;
  src: local('Source-Serif-Pro-Bold.ttf');
}