* {
  -webkit-font-smoothing: subpixel-antialiased;
  -moz-osx-font-smoothing: grayscale;

  @media (min-width: 1025px) {
    text-rendering: optimizeLegibility;
  }
}

body {
  font-family: "Source Sans Pro", "Noto Sans", Roboto, "Segoe UI", sans-serif;
  // Altenative I
  font-feature-settings: "ss04";
}

.unicode-icon, .button a span {
  font-family: emoji;
}

h1, .h1, h2, .h2, h3 {
  font-family: "Cardo", "Source Serif Pro", "Noto Serif", serif;
}

.handwriting {
  font-family: "Alexa", cursive;
}

.inscription {
  font-family: "Cardo", "Source Serif Pro", "Noto Serif", serif;
  font-feature-settings: "hlig";
  margin: 0 4rem 1rem;
}

.hist, .long-s {
  font-feature-settings: "hist", "hlig";
}
