@font-face {
  font-family: "Marcellus";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Marcellus Regular'),
       local('Marcellus-Regular'),
       url(/assets/fonts/Marcellus-Regular.woff2) format('woff2'),
       url(/assets/fonts/Marcellus-Regular.ttf) format('truetype');
}

@font-face {
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Source Sans Pro Regular'),
       local('SourceSansPro-Regular'),
       url(/assets/fonts/Source-Sans-Pro-Regular.woff2) format('woff2'),
       url(/assets/fonts/Source-Sans-Pro-Regular.ttf) format('truetype');
}

@font-face {
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local('Source Sans Pro Bold'),
       local('SourceSansPro-Bold'),
       url(/assets/fonts/Source-Sans-Pro-Bold.woff2) format('woff2'),
       url(/assets/fonts/Source-Sans-Pro-Bold.ttf) format('truetype');
}

@font-face {
  font-family: "Source Serif Pro";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local('Source Serif Pro Bold'),
       local('SourceSerifPro-Bold'),
       url(/assets/fonts/Source-Serif-Pro-Bold.woff2) format('woff2'),
       url(/assets/fonts/Source-Serif-Pro-Bold.ttf) format('truetype');
}

@font-face {
  font-family: emoji;
  font-style: normal;
  font-weight: 400;
  font-display: swap;

  src: local("Apple Color Emoji"),
       local("Segoe UI Emoji"),
       local("Segoe UI Symbol"),
       local("Noto Color Emoji"),
       local("EmojiOne Android");
}
