.interface {
  display: flex;
  flex-direction: column;
  margin: 1vmin 0 1vmin 0;
  padding: 0em;
  font-style: normal;
  break-inside: avoid;
  border: 1px solid rgba(0,0,0,0.2);
  border-radius: .3rem;
  outline: 0;

  @media (min-width: 576px) {
    margin: 1rem 0 1rem 0;
  }

  div {
    p, ul {
      margin-top: 0;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  .clearfix {
    margin: 0;
  }

  .interface {
    margin: 0 1vmin 1rem;

    @media (min-width: 576px) {
      margin: 0 1rem 1rem;
    }
  }

  > p, > h2, > h3 {
    margin: 0 2vmin 1rem;

    @media (min-width: 576px) {
      margin: 0 1rem 1rem;
    }
  }

  meta + * {
    margin-top: 0
  }

  > p:first-child,
  > h2:first-child,
  > h3:first-child,
  > script:first-child + p,
  > script:first-child + h2,
  > script:first-child + h3 {
    display: block;
    border-top-left-radius: .3rem;
    border-top-right-radius: .3rem;
    margin: 0 0 1rem;
    padding: 1rem;
    font-weight: bold;
    break-after: avoid;
  }

  .interface {
    > p:first-child,
    > h2:first-child,
    > h3:first-child,
    > script:first-child + p,
    > script:first-child + h2,
    > script:first-child + h3 {
      &::before {
        display: inline-block;
        content: "▼";
        width: 1.5em;
        text-align: left;
        font-family: emoji;
      }

      ~ * {
        display: none;
      }

      &.active {
        &::before {
          display: inline-block;
          content: "▲";
          width: 1.5em;
          text-align: left;
          font-family: emoji;
        }

        ~ * {
          display: block;
        }
      }

      &:only-child {
        margin-bottom: 0;

        &::before {
          content: " " !important;
        }
      }
    }
  }

  > table, > div {
    margin: 0 1rem 1rem;
  }

  ul {
    margin: 0 1rem 1rem;
    padding-left: 1.5rem;
    
    li {
      margin: 3pt 0;
      > ul {
        margin: 0;
      }
    }
  }
}

.top-toggle {
  margin-top: 0;
  > p:first-child,
  > h2:first-child,
  > h3:first-child,
  > script:first-child + p,
  > script:first-child + h2,
  > script:first-child + h3 {
    &::before {
      display: inline-block;
      content: "▼";
      width: 1.5em;
      text-align: left;
      font-family: emoji;
    }

    ~ * {
      display: none;
    }

    &.active {
      &::before {
        display: inline-block;
        content: "▲";
        width: 1.5em;
        text-align: left;
        font-family: emoji;
      }
      
      ~ * {
        display: block;
      }
      
      ~ .map {
        display: grid;
      }
    }

    &:only-child {
      margin-bottom: 0;

      &::before {
        content: " " !important;
      }
    }
  }
}
  
.interface > p:first-child,
.interface > script:first-child + p {
  > small {
    display: none;
  }

  &.active{
    > small {
      display: block;
    }

    ~ * {     
      display: flex;
      flex-direction: column;
    }

    ~ .map {
      display: grid;
    }
  }

  &.link {
    color: white;
    display: inline-block;
    width: 100%;
    padding: 0;

    &:hover {
      background: #0069d9 !important;
    }

    &,
    &.active {
      &::before {
        display: none !important;
      }

      a::before {
        content: '🔗';
        display: inline-block;
        font-weight: 400;
        width: 2em;
      }
    }

    a { 
      display: inline-block;
      width: 100%;
      height: 100%;
      padding: 1em .5em;
    }
  }
}

.right-2 {
  td:nth-child(2n) {
    text-align: right;

    rb {
      text-align: right;
    }
  }
}

.handwriting {
  padding: 1em;
  font-size: 130%;
  width: fit-content;

  > *:first-child {
    margin-top: 0;
  }

  > *:last-child {
    margin-bottom: 0;
  }
}

.map {
  display: grid;
  grid-template: auto / repeat(auto-fit, 1fr 1fr);
  gap: 1px;
  
  div {
    height: 100%;
    width: 100%;
    align-items: center;
    display: flex;
    justify-content: center;
  }
}


.map-12 {
  grid-template-columns: repeat(12, 1fr);
}

.map-24 {
  grid-template-columns: repeat(24, 1fr);
}

.chapter .interface {
  padding-bottom: 1rem;
}
