#body.dyslexic {
  &,
  h1, .h1, h2, .h2, h3,
  .inscription,
  .handwriting {
    font-family: "OpenDyslexic";
  }

  .handwriting {
    font-style: italic;
  }

  > .controls .btn-red {
    transform-origin: 55.5% 50%;
  }
  
  > .controls .btn-green {
    transform-origin: 44.5% 50%;
  }
}
