ruby, .ruby {
  display: inline-table;
  vertical-align: text-bottom;
  line-height: initial;

  rb, rt, .rb, .rt {
    display: table-cell;
    text-align: center;
  }
  
  rbc, >rb, .rbc, >.rb {
    display: table-row;
  }

  rtc, >rt, .rbc, >.rt {
    display: table-header-group;
  }

  rbc rb, .rbc .rb {
    text-align: center;
    
    &:first-child {
      text-align: right;
    }
    
    &:last-child {
      text-align: left;
    }
  }

  rtc rt, .rtc .rt {
    text-align: center;
    
    &:first-child {
      text-align: right;
    }

    &:last-child {
      text-align: left;
    }
  }

  rt, .rt {
    font-size: 70%;
    margin: 0;
    margin-inline-start: .8em;
    margin-inline-end: .8em;
    line-height: 0;
    background: transparent;
  }

  rp, .rp {
    display: none;
  }
}

main {
  p, table, li {
    line-height: 200%;
  }

  p {
    margin-block-start: 1.7em;
    margin-block-end: 1.7em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
  }
}