rt {
  font-size: 70%;
  line-height: initial;
}

rb {
  &.first {
    text-align: right;
  }

  &.last {
    text-align: left;
  }
}

main {
  p, table, li {
    line-height: 200%;
  }

  p {
    margin-block-start: 1.7em;
    margin-block-end: 1.7em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
  }
}