ruby.css2 {
  display: inline-table;
  vertical-align: text-bottom;
  line-height: initial;
  margin: 0;
  padding: 0;
  
  rb, rt {
    display: table-cell;
    text-align: center;
    font-size: 70%;
    margin: 0;
    padding: 0;
    margin-inline-start: .8em;
    margin-inline-end: .8em;
    line-height: 0;
    background: transparent;
  }
  
  rbc {
    display: table-row;
    
    rb {
      text-align: center;
      
      &:first-child {
        text-align: right;
      }
      
      &:last-child {
        text-align: left;
      }
    }
  }

  rtc {
    display: table-header-group;

    rt {
      text-align: center;
      
      &:first-child {
        text-align: right;
      }
  
      &:last-child {
        text-align: left;
      }
    }
  }

  rp, .rp {
    display: none;
  }
}

main {
  p, table, li {
    line-height: 200%;
  }

  p {
    margin-block-start: 1.7em;
    margin-block-end: 1.7em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
  }
}