rt {
  font-size: 70%;
  line-height: initial;
}

rb {
  display: block;
  text-align: center;
  padding-top: -1em;
  line-height: 0.9;

  &.first {
    text-align: right;
  }

  &.last {
    text-align: left;
  }
}

main {

  p,
  table,
  li {
    line-height: 2.2;
  }

  p {
    margin-block-start: 1.7em;
    margin-block-end: 1.7em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
  }
}