<div class="map map-24">
    <div style="width: 0; padding-bottom: 100%; grid-row: 1 / span 1; grid-column: 1 / span 1"></div>
    <div style="width: 0; padding-bottom: 100%; grid-row: 2 / span 1; grid-column: 1 / span 1"></div>
    <div style="width: 0; padding-bottom: 100%; grid-row: 3 / span 1; grid-column: 1 / span 1"></div>
    <div style="width: 0; padding-bottom: 100%; grid-row: 4 / span 1; grid-column: 1 / span 1"></div>
    <div style="width: 0; padding-bottom: 100%; grid-row: 5 / span 1; grid-column: 1 / span 1"></div>
    <div style="width: 0; padding-bottom: 100%; grid-row: 6 / span 1; grid-column: 1 / span 1"></div>
  
    <div class="handwriting" style="grid-column: 5 / span 2; grid-row: 3 / span 2">Tatilans</div>
    <div class="handwriting" style="grid-column: 4 / span 1; grid-row: 4 / span 4; width: 2em; justify-self: end;">
        <div style="width: 0; height: 0">
            <span style="transform: rotate(-90deg)">Avan&nbsp;Highway</span>
        </div>
    </div>
    <div class="handwriting" style="grid-column: 1 / span 4; grid-row: 2 / span 2">Shague Mountains</div>
</div>