---
---
@import "functions";
@import "fonts-files-epub";
@import "fonts";
@import "colors-common";
@import "colors-epub";
@import "ruby-characters";


body {
  font-weight: 400;
  margin: 0;
}

h1,
.h1,
h2,
.h2,
h3 {
  break-after: avoid;
  font-weight: bold;

  +h2,
  +h3,
  blockquote {
    break-before: avoid;
    page-break-before: avoid;
  }

  +p {
    margin-top: 0;
  }
}

h1,
.h1 {
  font-size: 150%;
  margin-top: 0;
}

h2,
.h2 {
  font-size: 120%;
}

hr {
  border: 0;
  height: 1px;
  margin: 0;

  +aside {
    margin-top: .5em;
  }
}

.buttons {
  display: flex;
  justify-content: center;
}

.btn {
  border: 1px solid;
  border-radius: .5em;
  display: block;
  text-align: center;
  margin: 0 .5em;
}

blockquote {
  display: block;
  margin: 1em 0 1em 0;
  padding: 0em;
  font-family: "Marcellus SC";
  font-style: normal;
  border: 2px solid;
  border-radius: 10px;
  break-inside: avoid;
  box-decoration-break: slice;

  blockquote {
    margin: 0 1em 1em;
  }

  >p {
    margin: 0 1em 1em;

    &:first-child {
      display: block;
      border: 0;
      border-bottom: 1px solid;
      padding: .5em 1em;
      margin: 0 0 1em;
      font-weight: bold;
      break-after: avoid;
    }
  }

  >table {
    margin: 0 1em 1em;
  }

  ul {
    margin: 0 1em 1em;
    padding-left: 1.5em;

    li {
      margin: 3pt 0;

      >ul {
        margin: 0;
      }
    }
  }
}

.block-right {
  display: block;
  float: right;
  margin: 0;
}

.count {
  text-align: right;
  display: inline-block;

  &.w-2 {
    width: 2em;
  }

  &.w-3 {
    width: 3em;
  }
}

.clearfix {
  content: "";
  clear: both;
}

.pdf-only {
  display: none;
}

p,
table,
li {
  line-height: 2.2;
}

p {
  margin-block-start: 2em;
  margin-block-end: 2em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  text-align: justify;
}

.html-only {
  display: none;

  +* {
    display: none;

    * {
      display: none;
    }
  }
}

table {
  width: 100%;
}

.right-2 {
  td:nth-child(2n) {
    text-align: right;

    rb {
      text-align: right;
    }
  }
}

#afterword {
  break-before: always;
  page-break-before: always;
}

.series-title {
  text-align: center;
  font-size: 300%;
  font-family: Marcellus;
}

.series-title+p {
  text-align: center;
  font-size: 200%;
  font-family: Marcellus;
}

.volume-number {
  text-align: center;
  font-size: 300%;
  font-family: Marcellus;
}

.volume-number+p {
  text-align: center;
  font-size: 200%;
  font-family: "Source Serif Pro";
}

.html-only,
.pdf-only {
  display: none;
}