---
---
@import "functions";
@import "fonts-files-web";
@import "fonts";
@import "colors-common";
@import "colors";
@import "animation";
@import "ruby-characters";
@import "pagination";

body,
.gr__webcache_googleusercontent_com body div:last-child {
  font-size: 12pt;
  font-weight: 400;
  margin: 0;

  display: grid;
  grid-template-columns: 5vmin 1fr 5vmin;
  gap: 0 1vmin;
  grid-template-rows: repeat(auto-fill, auto);
  grid-template-areas:
    "policy-banner policy-banner policy-banner"
    "title title title"
    ". navigation ."
    ". controls ."
    ". content ."
    ". fb-comments ."
    "footer footer footer";

  > header {
    grid-area: title;
    padding: 1rem;
    background: var(--blue);

    @media(min-width: 768px) {
      margin-top: -5vmin;
    }

    @media(min-width: 992px) {
      margin-top: -2rem;
      padding-left: 2rem;
    }

    a {
      color: $white !important;
    }
  }

  > nav {
    grid-area: navigation;

    @media (min-width: 576px) {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 0 5vmin;
      grid-template-rows: repeat(auto-fill, auto);
    }

    @media (min-width: 992px) {
      display: initial;
    }

    p {
      margin-top: 0px;

      @media (max-width: 575px) {
        display: block;
        flex-grow: 1;
        flex-basis: 0;
        text-align: center;

        &:first-child {
          margin-top: 1rem;
        }

        &:last-child {
          margin-bottom: 1rem;
        }

        a {
          display: block;
          color: #fff !important;
          text-decoration: none !important;
          background-color: #007bff;
          border-color: #007bff;

          padding: .5rem 1rem;
          font-size: 1.25rem;
          line-height: 1.5;
          border-radius: .3rem;

          &:hover {
            background-color: #0069d9;
            border-color: #0062cc;
          }

          &:focus {
            background-color: #0069d9;
            border-color: #0062cc;
            box-shadow: 0 0 0 0.2rem rgba(38,143,255,.5);
          }
        }
      }
    }
  }

  > .controls {
    grid-area: controls;
    display: flex;
    margin: 0 -.5rem;
    flex-wrap: wrap;

    > .toggle {
      top: 1px;
    }

    > * {
      flex-grow: 1;
      flex-basis: 0;
      margin-left: .5rem;
      margin-right: .5rem;
    }
  }

  > main {
    grid-area: content;

    p {
      -webkit-hyphens: auto;
      -ms-hyphens: auto;
      hyphens: auto;
      text-align: left;
    }

    header nav,
    footer nav {
      display: flex;
      flex-wrap: wrap;
      align-items: stretch;
      align-content: stretch;

      @media (min-width: 576px) {
        margin: 0 -.5rem;
      }

      span {
        margin: 0;
      }

      .early-acess {
        margin-right: .5rem;

        img {
          float: right;
          position: relative;
          right: 1rem;
          margin: -1rem;
          clear: both;
        }
      }

      a {
        min-width: 60vw;

        @media (min-width: 768px) {
          min-width: 350px;
        }
      }
    }
  }

  > footer {
    grid-area: footer;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 1rem;
    background: var(--dark);

    a {
      color: $white !important;
    }

    #support {
      grid-area: support;
      display: flex;
      flex-wrap: wrap;
      flex-grow: 1;
    }

    #footer {
      align-self: flex-end;
      flex-basis: 250px;
      flex-grow: 1;
    }
  }

  > .policy-banner {
    display: none;
    grid-area: policy-banner;
    
    p {
      margin: 1rem;
    }
    
    .policy-button,
    .policy-button-all {
      display: block;
      padding: .5rem;
      margin: 1rem;
      border: 2px outset;
    }
  }
  
  > .social-icons {
    grid-area: social-icons;
  }
  
  > #comments {
    grid-area: fb-comments;
  }

  @media (min-width: 768px) {
    grid-template-columns: 0 1fr 16rem 0;
    gap: 5vmin 5vmin;
    grid-template-rows: auto;
    grid-template-areas: 
      "policy-banner policy-banner policy-banner policy-banner"
      "title title title title"
      ". navigation navigation ."
      ". controls controls ."
      ". content content ."
      ". fb-comments fb-comments . "
      "footer footer footer footer";
  }

  @media (min-width: 992px) {
    font-size: 14pt;

    grid-template-columns: 0 18rem 1fr 1fr 0;
    gap: 2rem 2rem;
    grid-template-rows: auto;
    grid-template-areas:
      "policy-banner policy-banner policy-banner policy-banner policy-banner"
      "title title title title title"
      ". navigation content content ."
      ". controls content content ."
      ". . content content ."
      ". . fb-comments fb-comments ."
      "footer footer footer footer footer";
  }
}

.icons {
  display: flex;

  a {
    margin-left: .5rem;
    max-width: 96px;

    &:first-child {
      margin-left: 0;
    }

    img {
      border-radius: 7px;
      width: 100%;
      height: auto;
    }
  }
}

.cover-image {
  width: 100%;
  max-width: 500px;
}

.block-right {
  display: block;
  float: right;
}

.block-left {
  display: block;
  float: left;
}

figure {
  margin: 0;
  text-align: center;
}

img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
}

.post-image a
{
  text-align: center;
  display: block; 
}

.interface {
  display: block;
  margin: 1rem 0 1rem 0;
  padding: 0em;
  font-style: normal;
  break-inside: avoid;
  border: 1px solid rgba(0,0,0,0.2);
  border-radius: .3rem;
  outline: 0;

  .interface {
    margin: 0 1rem 1rem;
  }

  > p, > h3 {
    margin: 0 1rem 1rem;

    &:first-child {
      display: block;

      border-top-left-radius: .3rem;
      border-top-right-radius: .3rem;

      margin: 0 0 1rem;
    
      padding: 1rem;
      font-weight: bold;
      break-after: avoid;

      &.inactive {
        margin: 0;
      }
    }
  }

  > table, > div {
    margin: 0 1rem 1rem;
  }

  ul {
    margin: 0 1rem 1rem;
    padding-left: 1.5rem;

    li {
      margin: 3pt 0;

      > ul  {
        margin: 0;
      }
    }
  }
}

.count {
  text-align: right;
  display: inline-block;

  &.w-2 {
    width: 2em;
  }

  &.w-3 {
    width: 3em;
  }
}

a {
  text-decoration: none;
}

.unicode-icon {
  display: block;
  width: 1.5em;
  float: left;
  text-align: right;
  margin-right: .5rem;
  font-family: emoji;
}

.pdf-only {
  display: none;
}

.blog-post .button {
  margin-left: 0;
  margin-right: 0;
}

li:empty {
  display: none;
}

.right-2 {
  td:nth-child(2n) {
    text-align: right;

    rb {
      text-align: right;
    }
  }
}

.talkify-control-center {
  display: none;
}

form {
  border: 0;
  padding: 0;

  input, textarea {
    display: block;
    width: 100%;
  }

  fieldset > div {
    margin: .5rem;
  }

  .g-recaptcha {
    margin-top: .1rem;
  }

}

#comments {
  ol {
    list-style-type: none;
    padding-inline-start: 0;
  }

  img {
    float: left;
    margin: 0 .5rem 1rem 1rem;
  }
}

#support, .http-401 {
  .patreon {
    display: block;
    flex-grow: 1;
    min-width: 80vw;
    
    @media (min-width: 768px) {
      min-width: 60vw;
    }

    a {
      padding: .5rem 1rem;
      border-radius: 2rem;
      background-color: rgb(232, 91, 70);
      display: block;
      color: $white !important;

      @media (min-width: 768px) {
        display: inline-block;
      }

      svg {
        width: 1rem;
        height: 1rem;
        background-color: transparent;
        
        [data-color], [data-fill] {
          fill: rgb(255, 255, 255);
        }
      }
    }
  }
}

.icons {
  .discord {
    border-bottom-right-radius: 0;
  }
  
  .patreon {
    border-radius: 0;
  }
}

.back::after {
  bottom: 0 !important;
}

.sm-down {
  display: initial;

  @media (min-width: 768px) {
    display: none;
  }
}

.d-flex .btn {
  margin: .5rem;
  flex-grow: 1;
}

.disabled {
  cursor: default !important;
}

[typeof=Question] h2 {
  margin-top: 1em;
}
