<li>
  <a title="Crystal Down Schema" href="{{ / | absolute_url }}}">Crystal Down Schema</a>&nbsp;&gt;&nbsp;
</li>
{% for class in page.subclass-chain %}
<li class="breadcrumb-item">
    <a href="{{ class | absolute_url }}" class="context-{% if class contains 'schema' %}schema{% else %}cd{% endif %}">{{ class | split: '/' | last }}</a>
</li>
{% endfor %}
<li class="breadcrumb-item">
  <a href="{{ page.subclass-of | absolute_url }}" class="context-{% if page.subclass-of contains 'schema' %}schema{% else %}cd{% endif %}">{{ page.subclass-of | split: '/' | last }}</a>
</li>
<li class="breadcrumb-item active">
  <span class="context-{% if page.url contains 'schema' %}schema{% else %}cd{% endif %}">{{ page.title }}</span>
</li>
