<script type="application/ld+json">
{
    "@context": "https://schema.org/",
    "@type": "BreadcrumbList",
    "itemListElement": [
    {% for e in page.subclass-chain %}
    {
      "@type": "ListItem",
      "position": forloop.index,
      "name": "{{ e | split: '/' | last }}",
      "item": "{{ e | absolute_url }}"
    },{% endfor%}
    {
    "@type": "ListItem",
    "position": {{ page.subclass-chain | size }},
    "name": "{{ page.subclass | split: '/' | last }}",
    "item": "{{ page.subclass | absolute_url }}"
    },
    {
        "@type": "ListItem",
        "position": {{ page.subclass-chain | size | plus: 1 }},
        "name": "{{ page.title }}",
        "item": "{{ page.url | absolute_url }}"
    }]
}
</script>
<li>
  <a title="Crystal Down Schema" href="https://cdwn.tk/">Crystal Down Schema</a>
</li>
{% for class in page.subclass-chain %}
<li class="breadcrumb-item">
    <a href="{{ class | absolute_url }}" class="context-{% if class contains 'schema' %}schema{% else %}cd{% endif %}">{{ class | split: '/' | last }}</a>
</li>
{% endfor %}
<li class="breadcrumb-item">
  <a href="{{ page.subclass-of | absolute_url }}" class="context-{% if page.subclass-of contains 'schema' %}schema{% else %}cd{% endif %}">{{ page.subclass-of | split: '/' | last }}</a>
</li>
<li class="breadcrumb-item active">
  <span class="context-{% if page.url contains 'schema' %}schema{% else %}cd{% endif %}">{{ page.title }}</span>
</li>
