---
# Layout Rewrite 2020: Base Layout
layout: compress
---
<!DOCTYPE html>
<html lang="{{ page.lang }}">
<head>
{% include 2020/1-head/common.html %}
{% include 2020/1-head/social-common.html %}
{% include 2020/1-head/noscript.html %}
<body id="body" class="light-theme">
{% include 2020/2-body/common.html %}
  <header aria-flowto="content" id="mobile-top">
    {% include 2020/2-body/header.html %}
  </header>

  <ol class="breadcrumb" aria-label="breadcrumb">
    {% include 2020/2-body/1-breadcrumbs/base.html %}
  </ol>
  
  <nav class="collapse" id="navbar-toggable">
    {% include 2020/2-body/navigation.html %}
  </nav>

  <div class="controls buttons" data-nosnippet>
    {% include 2020/2-body/controls.html %}
  </div>

  <main id="content" class="base container">
    {{ content }}
  </main>

  <footer>
    <div id="support">
      {% include 2020/3-footer/support.html %}
    </div>
    <div id="copyright" class="float-right">
      {% include 2020/3-footer/copyright.html %}
    </div>
  </footer>

  <div class="policy-banner" id="policy-banner" data-nosnippet>
    {% include 2020/policy-banner.html %}
  </div>

  <!-- hash: 'sha256-B75kuj4XBwqTynjEBPY0crnnQrCH3Uckwy8CeNtR5Mg=' -->
  <script>window['pageType']='base'</script>
  <!-- hash: 'sha256-4Amo8MXCWfkrOHD6HrolTcZjIyciljwHajQRyeNI9II=' -->
  {% if page.additional_js == "hyphenate" %}
  <script>var Hyphenopoly={require:{"en-ca":"Supercalifragilisticexpialidocious"}}</script>
  {% endif %}
