<h2>
  {% if page.lang == "de-DE" %}Kommentieren{% else %}Leave a Comment{% endif %}
</h2>
{% assign action = site.pages | where: 'ref', 'submit-comment' | where: 'lang', page.lang | last %}
<form name="Comments" method="POST" action="{{ action.url | absolute_url }}" id="commentform" class="form-horizontal" data-netlify="true" netlify-honeypot="captcha">
  <fieldset id="commentfields">
    <div>
      <label for="name">Name</label>
      <input type="text" name="name" id="name" placeholder="Name" class="w-100" aria-required="true" required="true">
      <label for="email">Email <span>(not shown)</span></label>
      <input type="email" name="email" id="email" placeholder="name@domain.tld" class="w-100" aria-required="true" required="true">
      <label for="url">Website</label>
      <input type="text" name="url" id="url" placeholder="https://domain.tld" class="w-100">
    </div>
    <div>
      <label for="message">{% if page.lang == "de-DE" %}Kommentar{% else %}Comment{% endif %}*</label>
      <textarea name="message" id="message" placeholder="{% if page.lang == 'de-DE' %}Kommentieren{% else %}Leave a Comment{% endif %}" class="w-100 h-25" aria-required="true" required="true"></textarea>
    </div>
    <div class="row mx-2">
      <input type="checkbox" name="accept-policy" id="accept-policy" aria-required="true" required="true" class="col-auto mt-2">
      <label for="accept-policy" class="col">{% if page.lang == 'de-DE'}
        Ich stimme zu, dass meine Name und Kommentar von Cloudflare und Netlify verabeitet werden, und dass diese gespeichert und auf dieser Seite dargestellt werden.
        {% else %}
        I consent to my name and comment being processed by Cloudflare and Netlify and being stored and displayed on this site.
        {% endif %}</label>
    </div>
    <div class="d-none">
      <input name="ref" type="hidden" value="{{ page.ref }}">
      <label for="captcha">Captcha</label>
      <input name="captcha" type="text">
    </div>
    <div>
      <button type="sumbit" id="commentbutton" class="btn btn-primary btn-block">{% if page.lang == "de-DE" %}Kommentar abschicken{% else %}Submit Comment{% endif %}</button>
    </div>
  </fieldset>
</form>
