<h1 aria-label="{{ page.title }}"
    aria-flowto="post-content">
    {{ page.title }}
</h1>
<small class="float-left">
    published on {{ page.date | date: "%Y-%m-%d" }}, last updated on {% last_modified_at %Y-%m-%d %}
</small>
<small class="float-right">
{% if page.author %}
{% assign author = site.data.staff | where: "id", page.author | last %}
    written by {% if author.url %}<a href="{{ author.url }}" target="_blank" ref="noopener">{% endif %}{{ author.name }}{% if author.url %}</a>{% endif %}{% endif %}{% if page.checker %}, checked with
{% for e in page.checker %}{% assign editor = site.data.staff | where: "id", e | last %}{% if editor.url %}<a href="{{ editor.url }}" target="_blank" ref="noopener" rel="sponsored">{% endif %}{{ editor.name }}{%  if editor.url %}</a>{% endif %}{% unless forloop.last %} and {% endunless %}{% endfor %}{% endif %}
</small>
<div class="clearfix"></div>
<small class="float-left">
    tagged with {% for t in page.tags %}<a href="{{ "/tags/" | absolute_url }}#{{ t | cgi_escape }}">{{ t }}</a>{% unless forloop.last %}, {% endunless %}{% endfor %}
</small>
