<h1 aria-label="Chapter {% if page.book %}{{ page.book.number }}-{% endif %}{{ page.chapter }}: {{ page.title }}"
    aria-flowto="chapter-content">
    {{ page.title }}
</h1>
<small class="float-left">
    {% assign published = page.date | date: '%s' %}
    {% assign modified = page.last_modified_at | date: '%s' %}
    published on {{ page.date | date: "%Y-%m-%d" }}{% unless modified < published %}, last updated on {% last_modified_at %Y-%m-%d %}{% endunless %}
</small>
<small class="float-right">
{% if page.author %}
{% assign author = site.data.staff | where: "id", page.author | last %}
    written by {% if author.url %}<a href="{{ author.url }}" target="_blank" ref="noopener">{% endif %}{{ author.name }}{% if author.url %}</a>{% endif %}{% endif %}{% if page.checker %}, checked with
    {% for e in page.checker %}{% assign editor = site.data.staff | where: "id", e | last %}{% if editor.url %}<a href="{{ editor.url }}" target="_blank" ref="noopener" rel="sponsored">{% endif %}{{ editor.name }}{%  if editor.url %}</a>{% endif %}{% unless forloop.last %} and {% endunless %}{% endfor %}{% endif %}{% if page.editor %}, edited by 
    {% for e in page.editor %}{% assign editor = site.data.staff | where: "id", e | last %}{% if editor.url %}<a href="{{ editor.url }}" target="_blank" ref="noopener" rel="nofollow">{% endif %}{{ editor.name }}{%  if editor.url %}</a>{% endif %}{% unless forloop.last %} and {% endunless %}{% endfor %}{% if page.sponsors %}, sponsored by
    {{ page.sponsors | array_to_sentence_string }}{% endif %}{% endif %}
</small>
<div class="clearfix"></div>
{% unless page.sponsors %}
<small>
A big thanks to all Patrons for their support.
</small>
{% endunless %}
