---
---
@import "fonts-files-web";
@import "colors-common";

* {
    font-family: Source Sans Pro, sans-serif;
}

feed {
    display: flex;
    flex-direction: column;
}

title {
    order: 0;
    display: block;

    font-family: "Marcellus", "Source Serif Pro", "Noto Serif", serif;
    font-size: 2.5rem;
}

subtitle {
    order: 10;
    display: block;

    &::after {
        content: 'This is an Atom Feed. Please use this page with an Atom or RSS reader.';
        display: block;
    }
}

id, generator, license { 
    display: none;
}

updated {
    order: 21;
    display: block;
    
    &::before {
        content: "Updated on&nbsp;";
        display: inline-block;
    }
}

published {
    order: 20;
    display: block;
    
    &::before {
        content: "ublished on&nbsp;";
        display: inline-block;
    }
}

author {
    order: 30;
    display: block;
    
    &::before {
        content: "Written by&nbsp;";
        display: inline-block;
    }
}

entry {
    order: 100;
    display: block;

    title {
        font-size: 2rem;
    }
}