---
layout: base
---
<style>
footer nav a::after {
  top: initial !important;
  font-size: 100%;
}
</style>
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "BreadcrumbList",
  "itemListElement": [{
    "@type": "ListItem",
    "position": 0,
    "name": "{{ site.title }}",
    "item": "{{ "/" | absolute_url }}"
  },{
    "@type": "ListItem",
    "position": 1,
    "name": "{{ page.title }}",
    "item": "{{ page.url | absolute_url }}"
  }]
}
</script>
<div vocab="https://schema.org/" typeof="{% if page.schema_type %}{{ page.schema_type }}{% else %}DefinedTerm{% endif %}">
  <header>
    <h1 property="name">Glossary: {{ page.title }}</h1>
    <meta property="mainEntityOfPage" content="{{ page.url | absolute_url }}">
    <meta property="url" content="{{ page.url | absolute_url }}">
    <div class="clearfix"></div>
  </header>
  <div property="description">
    {% include linkify content=content %}
  </div>
</div>
<footer>
  <nav class="btn-lg-block d-flex">
      <a class="btn btn-primary previous back" 
         title="{{ page.title }}" onclick="history.back()" rel="prev">Go Back</a>
      <a  class="btn btn-primary"
         title="Glossary" href="{{ "/glossary/" | absolute_url }}" rel="next">Go to Glossary</a>
  </nav>
</footer>
<script>
  var Hyphenopoly = {
    require: {
      "en-ca": "Supercalifragilisticexpialidocious"
    }
  };
</script>
<script src="{{ "/assets/vendor/hyphenopoly/Hyphenopoly_Loader.js" | absolute_url }}" defer></script>
