---
# Layout for Glossary Pages
layout: default
---
<style>
footer nav a::after {
  top: initial !important;
  font-size: 100%;
}
</style>
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "BreadcrumbList",
  "itemListElement": [{
    "@type": "ListItem",
    "position": 0,
    "name": "{{ site.title }}",
    "item": "{{ "/" | absolute_url }}"
  },{
    "@type": "ListItem",
    "position": 1,
    "name": "{{ page.title }}",
    "item": "{{ page.url | absolute_url }}"
  }]
}
</script>
<div>
  <header>
    <h1>{{ page.title }}</h1>
    <meta property="url" content="{{ page.url | absolute_url }}">
    <div class="clearfix"></div>
  </header>
  <section class="hyphenate">
    {% include linkify content=content %}
  </section>
</div>
<script>
  var Hyphenopoly = {
    require: {
      "en-ca": "Supercalifragilisticexpialidocious"
    }
  };
</script>
<script src="{{ "/assets/vendor/hyphenopoly/Hyphenopoly_Loader.js" | absolute_url }}" defer></script>
