---
layout: base
---
{% if page.previous.redirect_to %}
{% assign page.previous = page.previous.previous %}
{% endif %}
{% if page.next.redirect_to %}
{% assign page.next = page.next.next %}
{% endif %}

<style>
  {
    % if page.previous.url %
  }

  .previous::before {
    content: 'Previous Post:';
    display: block;
  }

    {
    % endif %
  }

    {
    % if page.next.url %
  }

  .next::before {
    content: 'Next Post: ';
    display: block;
  }

    {
    % endif %
  }

</style>
<script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "BreadcrumbList",
    "itemListElement": [{
      "@type": "ListItem",
      "position": 0,
      "name": "{{ site.title }}",
      "item": "{{ " / " | absolute_url }}"
    }, {
      "@type": "ListItem",
      "position": 1,
      "name": "{{ page.title }}",
      "item": "{{ page.url | absolute_url }}"
    }]
  }

</script>
<div vocab="https://schema.org/" typeof="BlogPosting">
  <header>
    <h1 property="name">{{ page.title }}</h1>
    <meta property="headline" content="{{ page.title }}">
    <meta property="mainEntityOfPage" content="{{ page.url | absolute_url }}">
    <meta property="url" content="{{ page.url | absolute_url }}">
    <small class="block-left">
      published on <span property="datePublished"
        content="{{ page.date | date_to_xmlschema }}">{{ page.date | date: "%Y-%m-%d" }}</span>
    </small>
    <meta property="dateModified" content="{{ page.last_modified_at | date_to_xmlschema }}">
    {% if page.author %}
    {% assign author = site.data.authors[page.author] %}
    <small class="block-right" property="author" typeof="Person" itemid="{{ author.url }}">
      written by <span property="name">{{ author.name }}</span>
      <meta property="url" content="{{ author.url }}">
    </small>
    <div property="publisher" typeof="Person">
      <meta property="name" content="{{ author.name }}">
      <meta property="url" content="{{ author.url }}">
    </div>
    {% endif %}
    {% if post.image %}
    <meta property="image" typeof="URL"
      content="{% if post.image contains "://" %}{{ post.image }}{% else %}{{ post.image | absolute_url }}{% endif %}">
    {% else %}
    <meta property="image" typeof="URL" content="{{ "/assets/images/site-card.png" | absolute_url }}">
    {% endif %}
    <div class="clearfix"></div>
    {% assign words = content | markdownify | strip_html | split: " " | size %}
    {% if words > 200 %}
    <nav class="d-flex">
      {% if page.previous.url %}
      <link rel="prerender" href="{{ page.previous.url }}">
      <a class="btn btn-lg btn-primary previous" title="{{ page.previous.title }}"
        href="{{ page.previous.url }}">{{ page.previous.title }}</a>
      {% endif %}

      {% if page.next.url %}
      <link rel="prerender" href="{{ page.next.url }}">
      <a class="btn btn-lg btn-primary next" title="{{ page.next.title }}"
        href="{{ page.next.url }}">{{ page.next.title }}</a>
      {% endif %}
    </nav>
    {% endif %}
  </header>
  <div class="blog-post" property="text">
    {{content}}
  </div>
</div>

<footer>
  <nav class="d-flex">
    {% if page.previous.url %}
    <a class="btn btn-lg btn-primary previous" title="{{ page.previous.title }}"
      href="{{ page.previous.url }}">{{ page.previous.title }}</a>
    {% endif %}

    {% if page.next.url %}
    <a class="btn btn-lg btn-primary next" title="{{ page.next.title }}"
      href="{{ page.next.url }}">{{ page.next.title }}</a>
    {% endif %}
  </nav>
  <div class="clearfix"></div>
  <hr>

  <aside class="social">
    <p>
      Share this page on
    </p>
    <div class="icons">
      <a title="Share Post on Facebook"
        href="https://www.facebook.com/sharer.php?src=bm&u={{ page.url | absolute_url }}&t={{ page.title | url_encode }}"
        target="_blank" rel="noopener nofollow">
        <img src="/assets/images/facebook.png" alt="Share Post on Facebook">
      </a>
      <a title="Share Post on Twitter"
        href="https://twitter.com/intent/tweet?url={{ page.url | absolute_url }}&text={{ page.title | url_encode }}&via={{ site.twitter.username }}"
        target="_blank" rel="noopener nofollow">
        <img src="/assets/images/twitter.png" alt="Share Post on Twitter">
      </a>
      <a title="Share Post on reddit"
        href="https://reddit.com/submit?url={{ page.url | absolute_url }}&title={{ page.title | url_encode }}"
        target="_blank" rel="noopener nofollow">
        <img src="/assets/images/reddit.png" alt="Share Post on reddit">
      </a>
      <a title="Share Post on Pinterest"
        href="https://pinterest.com/pin/create/button/?url={{ page.url | absolute_url }}&description={{ page.title | url_encode }}&media={{ "/assets/images/site-card.png" | absolute_url }}"
        target="_blank" rel="noopener nofollow">
        <img src="/assets/images/pinterest.png" alt="Share Post on Pinterest">
      </a>
      <a title="Share Post on Telegram"
        href="https://telegram.me/share/url?url={{ page.url | absolute_url }}&text={{ page.title | url_encode }}"
        target="_blank" rel="noopener nofollow">
        <img src="/assets/images/telegram.png" alt="Share Post on Telegram">
      </a>
      <a title="Share Post on WhatsApp"
        href="https://api.whatsapp.com/send?text=Checkout%20{{ site.title | url_encode }}'s%20Post%3A%20{{ page.title | url_encode }}.%20{{ page.url | absolute_url }}"
        target="_blank" rel="noopener nofollow">
        <img src="/assets/images/whatsapp.png" alt="Share Post on WhatsApp">
      </a>
      <a title="Share Post on Tumblr"
        href="https://www.tumblr.com/widgets/share/tool?canonicalUrl={{ page.url | absolute_url }}&title={{ page.title | url_encode }}"
        target="_blank" rel="noopener nofollow">
        <img src="/assets/images/tumblr.png" alt="Share Post on Tumblr">
      </a>
      <a title="Share Post on VK" href="https://vk.com/share.php?url={{ page.url | absolute_url }}" target="_blank"
        rel="noopener nofollow">
        <img src="/assets/images/vk.png" alt="Share Post on VK">
      </a>
      <a title="Share Post on Pocket" href="https://getpocket.com/edit?url={{ page.url | absolute_url }}"
        target="_blank" rel="noopener nofollow">
        <img src="/assets/images/pocket.png" alt="Share Post on Pocket">
      </a>
      <a title="Share Post on Mix" href="https://mix.com/mixit?su=submit&url={{ page.url | absolute_url }}"
        target="_blank" rel="noopener nofollow">
        <img src="/assets/images/mix.png" alt="Share Post on Mix">
      </a>

    </div>
  </aside>
</footer>
