@import "bootstrap/bootstrap.min";
@import "bootstrap/bootstrap-toggle.min";
@import "functions";
@import "fonts-files-web";
@import "fonts";
@import "colors-common";
@import "colors";
@import "interface";
@import "animation";
@import "ruby-characters";
@import "option-dyslexic";
@import "icons";
@import "backgrounds";
@import "print";

#body {
  font-size: 12pt;
  font-weight: 400;
  margin: 0;
  display: grid;
  grid-template: auto;
  gap: 0 1vmin;
  grid-template-areas:
    "title"
    "navigation"
    "controls"
    "breadcrumbs"
    "content"
    "comments"
    "footer";

  @media screen and (min-width: 768px) {
    grid-template: auto;
    gap: 1vmin 5vmin;
    grid-template-areas:
      "title"
      "navigation"
      "controls"
      "breadcrumbs"
      "content"
      "comments"
      "footer";
  }

  @media screen and (min-width: 992px) {
    font-size: 14pt;
    grid-template: auto / 1fr calc(992px - 3rem) 1fr;
    gap: 1rem;
  }

  > * {
    margin: 1rem 1vmin;
    max-width: calc(100vw - 2vmin);

    @media(min-width: 768px) {
      margin: 0 2rem;
    }
  }

  > header {
    grid-area: title;
    padding: 1rem;
    margin: 0;
    max-width: 100vw;
    display: grid;

    @media(min-width: 992px) {
      padding-left: 2rem;
      margin: 0;
      height: 6.5em;

      grid-column: 1 / span 3;
      grid-row: 1;
      position: static;
    }

    p {
      place-self: center stretch;
    }
  }

  >nav {
    grid-area: navigation;
    margin-left: 1vmin;

    @media screen and (min-width: 576px) {
      display: grid;

      grid-template-columns: 1fr 1fr;
      grid-template-rows: min-content 1fr;
      gap: .5rem;
      margin: .5rem .5rem -1rem;
    }

    @media screen and (min-width: 768px) {
      margin: 15px 15px 0;
      gap: .5rem;
    }

    @media screen and (min-width: 992px) {
      display: flex;
      margin: 0 1rem;
      grid-column: 1 / span 3;
      grid-row: 2;
      gap: 1rem;
      align-items: stretch;
    }

    p {
      margin-top: 0px;
      display: block;
      flex-grow: 1;
      flex-basis: 0;
      border-radius: .3rem;
      text-align: center;

      @media screen and (min-width: 576px) {
        margin-bottom: 0;
      }

      @media screen and (min-width: 992px) {
        align-items: center;
        flex-basis: initial;
      }

      a {
        display: block;
        text-decoration: none !important;
        width: 100%;

        @media screen and (max-width: 575.98px) {
          padding: .5rem 1rem;
          line-height: 1.5;
          font-size: 1.25rem;
        }
      }

      @media screen and (min-width: 992px) {
        &,
        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }

  > .controls {
    grid-area: controls;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    position: sticky;
    top: -.5rem;
    padding-top: .5rem;
    padding-bottom: .5rem;
    z-index: 80;

    .toggle {
      max-height: 3em;
    }

    .toggle-group {
      label {
        line-height: unset !important;
      }
    }

    .d-inline-flex {
      flex-grow: 1;
      flex-basis: 0;
      margin: .5rem 0 0;
      min-width: 100%;

      > * {
        margin: 0 .5rem 0 0;
        flex-grow: 1;
      }

      > *:last-child {
        margin-right: 0;
      }
    }

    @media screen and (min-width: 768px) {
      margin: .5rem 0 10px;
      padding-left: 15px;
      padding-right: 15px;
      top: 0;

      > div {
        margin-top: 0 !important;
      }
    }

    @media screen and (min-width: 992px) {
      grid-column: 2;
      grid-row: 3;
      margin: 0;
      

      .d-inline-flex {
        min-width: unset;
        margin: 0;

        > * {
          margin: 0 1rem 0 0;
        }
      }
    }

    @media screen and (min-width: 1200px) and (min-height: 840px) {
      position: static;
      grid-column: 3;
      grid-row: 5;
      max-width: calc((100vh - 992px - 5rem) / 2);
      
      > div {
        position: sticky;
        top: -14px;
        min-width: 485px !important;
        transform-origin: 0% 100%;
        transform: rotate(-90deg) scale(-1) translateX(-19px) translateY(2rem);
      }

      label,
      span {
        transform: rotate(-90deg);
        display: inline-block;
      }

      label + span {
        transform: unset;
      }
      
      .btn-green {
        transform-origin: 45% 50%;
      }
      
      .btn-red {
        transform-origin: 55% 50%;
      }
    }
  }
    
  > .breadcrumb {
    grid-area: breadcrumbs;
    font-size: 80%;
    padding: .5em 1em;
    
    @media screen and (min-width: 786px) {
      margin: .5rem 15px;
    }

    @media screen and (min-width: 992px) {
      grid-column: 2;
      grid-row: 4;
    }
    
    @media screen and (min-width: 1200px) and (min-height: 800px) {
      margin-top: -.5rem;
      grid-column: 1 / 4;
    }
  }

  > main {
    grid-area: content;
    display: flex;
    flex-direction: column;

    @media screen and (min-width: 786px) {
      margin-left: 15px;
      margin-right: 15px;
    }

    @media screen and (min-width: 992px) {
      grid-column: 2;
      grid-row: 5;
      min-height: calc(100vh - 458px);
    }

    p {
      text-align: left;
      
      &:last-child {
        margin-block-end: 0;
      }
    }

    header nav,
    footer nav {
      display: flex;
      flex-wrap: wrap;
      align-items: stretch;
      align-content: stretch;

      span {
        margin: 0;
      }

      a {
        min-width: 60vw;

        @media screen and (min-width: 768px) {
          min-width: 300px;

          &:first-child {
            margin-right: .5rem;
          }

          &:only-child {
            margin-right: 0;
            margin-left: 0;
          }
        }
      }
    }
  }

  >footer {
    grid-area: footer;
    margin: 0 !important;
    max-width: 100vw;
    display: block;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 1rem;

    @media screen and (min-width: 576px) {
      display: grid;
      grid-template-columns: auto auto;
      grid-template: "support copyright";
    }

    @media screen and (min-width: 786px) {
      display: flex;
    }

    @media screen and (min-width: 992px) {
      margin-left: 0;
      grid-column: 1 / span 3;
      grid-row: 7;
    }

    #support {
      grid-area: support;
      display: flex;
      flex-wrap: wrap;
      flex-grow: 1;

      margin-bottom: 1rem;

      @media screen and (min-width: 768px){
        margin-bottom: 0;
      }
   }
  }

  >.policy-banner {
    display: none;
    grid-area: controls;
    z-index: 100;
    position: sticky;
    top: 0;

    @media screen and (min-width: 786px) {
      margin-left: 0;
      margin-right: 0;
      grid-column: 1;
      grid-row: 3;
    }

    @media screen and (min-width: 992px) {
      margin-left: 0;
      margin-right: 0;
      grid-column: 1 / span 3;
      grid-row: 3;
      z-index: 1000;
    }

    p {
      margin: 1rem;
    }

    .policy-button,
    .policy-button-all {
      display: block;
      padding: .5rem;
      margin: 1rem;
      border: 2px outset;
    }
  }

  >#comments {
    grid-area: comments;

    @media screen and (min-width: 992px) {
      margin: 0;
      grid-column: 2;
      grid-row: 6;
    }
  }
}


figure {
  margin: 0;
  text-align: center;
}

img {
  display: block;
  margin: 0 auto;

  &:not([width]):not([height]) {
    width: 100%;
    max-width: 100%;
  }
}

.post-image a {
  text-align: center;
  display: block;
}

.count {
  text-align: right;
  display: inline-block;

  &.w-2 {
    width: 2em;
  }

  &.w-3 {
    width: 3em;
  }
}


a {
  text-decoration: none;
}

.pdf-only {
  display: none;
}

.blog-post .button {
  margin-left: 0;
  margin-right: 0;
}

form {
  border: 0;
  padding: 0;

  input,
  textarea {
    display: block;
    width: 100%;
  }

  fieldset>div {
    margin: .5rem;
  }

  .g-recaptcha {
    margin-top: .1rem;
  }

}

#comments {
  ol {
    list-style-type: none;
    padding-inline-start: 0;
  }

  img {
    float: left;
    margin: 0 .5rem 1rem 0;
  }
}

.back::after {
  bottom: 0 !important;
}

.sm-down {
  display: initial;

  @media screen and (min-width: 768px) {
    display: none;
  }
}

.d-flex .btn {
  margin: .5rem 0;
  flex-grow: 1;
  flex-basis: 0;

  @media screen and (min-width: 992px) {
    &:first-child {
      margin: .5rem;
      margin-left: 0;
    }

    &:last-child {
      margin: .5rem;
      margin-right: 0;
    }
  }
}

.disabled {
  cursor: default !important;
}

[itemprop=mainEntity] h2 {
  margin-top: 1em;
}


.talkify-control-center {
  display: none;
}

h1, .h1, h2, .h2, h3 {
  @media screen and (max-width: 575.98px) {
    margin: 0 2vmin;
  }
}

.patreon-logo {
  width: 1rem;
  height: 1rem;
  background-color: transparent;

  [data-color],
  [data-fill] {
    fill: rgb(255, 255, 255);
  }
}

.hyphenate {
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.5%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.entry-summary .btn {
  &::before {
    content: "Read “";
  }

  &::after {
    content: "”";
  }

  p {
    line-height: 100% !important;
  }
}

.entry-summary form .btn {
  &::before,
  &::after {
    display: none;
  }
}

h3, .h3 {
  font-size: 1.5rem;
}

.collapse:not(.show) {
  display: none !important;

  @media screen and (min-width: 992px) {
    display: flex !important;
  }
}

.policy-banner[style*=display] + .controls {
  display: none!important;
}

.tts-controls {
  position: sticky;
  top: 4rem;
  z-index: 90;
  padding-bottom: .5rem;
    
  @media screen and (min-width: 786px) {
    margin-left: -15px;
    margin-right: -15px;
    padding-left: 15px;
    padding-right: 15px;
    min-width: calc(100vw - 18px);
  }

  @media screen and (min-width: 992px) {
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
    min-width: unset;    
  }

  @media screen and (min-width: 1200px) and (min-height: 800px) {
    top: 0;
    padding-top: 1rem;
  }
}

@media screen and (max-width: 575.98px){
main > .row {
  margin-left: 0;
  margin-right: 0;
}
}