@import "bootstrap/bootstrap.min";
@import "bootstrap/bootstrap-toggle.min";
@import "functions";
@import "fonts-files-web";
@import "fonts";
@import "colors-common";
@import "colors";
@import "animation";
@import "interface";
@import "ruby-characters";
@import "option-dyslexic";
@import "option-condensed";

#body {
  font-size: 12pt;
  font-weight: 400;
  margin: 0;
  display: grid;
  grid-template: auto;
  gap: 0 1vmin;
  grid-template-areas:
    "navigation"
    "title"
    "policy-banner"
    "breadcrumbs"
    "controls"
    "content"
    "comments"
    "footer";

  @media (min-width: 768px) {
    grid-template: auto;
    gap: 5vmin 5vmin;
    grid-template-areas:
      "policy-banner"
      "title"
      "breadcrumbs"
      "navigation"
      "controls"
      "content content"
      "comments"
      "footer";
  }

  @media (min-width: 992px) {
    font-size: 14pt;
    grid-template: auto / 1fr 1000px 1fr;
    grid-template-areas:
      "title title title"
      ". breadcrumbs ."
      ". content ."
      ". comments . "
      "footer footer footer";
    gap: 1rem;
  }

  > * {
    margin: 1rem 1vmin;
    max-width: calc(100vw - 2vmin);

    @media(min-width: 768px) {
      margin: 0 2rem;
    }
  }

  > header {
    grid-area: title;
    padding: 1rem;
    margin: 0;
    max-width: 100vw;
    display: grid;

    @media(min-width: 768px) {
      margin: -5vmin 0 0;
    }

    @media(min-width: 992px) {
      padding-left: 2rem;
      margin: 0;
      height: 5em;
    
      grid-column: 1 / span 3;
      grid-row: 1;
    }

    p {
      place-self: center stretch;
    }
  }

  >nav {
    grid-area: navigation;
    margin-left: 1vmin;

    @media (min-width: 576px) {
      display: grid;

      grid-template-columns: 1fr 1fr;
      grid-template-rows: min-content 1fr;
      gap: 0 5vmin;
      margin: calc(5vmin - .5rem) calc(5vmin - .5rem) calc(5vmin - .5rem);
    }

    @media (min-width: 768px) {
      margin: 2rem 2rem 0;
    }

    @media (min-width: 992px) {
      display: flex;
      margin: 0 1rem;
      grid-column: 1 / span 3;
      grid-row: 2;
      gap: 1rem;
      align-items: stretch;
    }

    p {
      margin-top: 0px;
      display: block;
      flex-grow: 1;
      flex-basis: 0;
      border-radius: .3rem;

      @media (max-width: 575.98px) {
        text-align: center;
      }

      @media (min-width: 992px) {
        display: flex;
        align-items: center;
        flex-basis: initial;
      }

      &:first-child {
        margin-top: 1rem;

        @media (min-width: 576px) {
          margin-top: 0;
        }
      }

      &:last-child {
        margin-bottom: 1rem;
      }

      a {
        display: block;
        text-decoration: none !important;
        width: 100%;

        @media (max-width: 575.98px) {
          padding: .5rem 1rem;
          line-height: 1.5;
          font-size: 1.25rem;
        }
      }
    }
  }

  > .controls {
    grid-area: controls;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;

    .toggle {
      max-height: 3em;
    }

    .toggle-group {
      label {
        line-height: unset !important;
      }
    }

    .d-inline-flex {
      flex-grow: 1;
      flex-basis: 0;
      margin: .5rem 0 0;
      min-width: 100%;

      > * {
        margin: 0 .5rem 0 0;
        flex-grow: 1;
      }
 
      > *:last-child {
        margin-right: 0;
      }
    }

    @media (min-width: 576px) {
      margin-left: calc(5vmin - .5rem);
      margin-right: calc(5vmin - .5rem);
    }

    @media (min-width: 768px) {
      margin: 2rem 2rem 0;
    }

    @media (min-width: 992px) {
      grid-column: 2;
      grid-row: 3;
      margin: 0;
      
      .d-inline-flex { 
        min-width: unset;
        margin: 0;

        > *:last-child {
          margin-right: .5rem;
        }

        &.lg-nomargin > *:last-child {
          margin-right: 0;
        }
      }


    }
  }

  > .breadcrumb {
    grid-area: breadcrumbs;
    font-size: 80%;
    padding: .5em 1em;

    @media (min-width: 992px) {
      margin-left: 0;
      margin-right: 0;
      grid-column: 2;
      grid-row: 4;
    }
  }

  > main {
    grid-area: content;
    display: flex;
    flex-direction: column;

    @media (min-width: 992px) {
      margin-left: 0;
      margin-right: 0;
      grid-column: 2;
      grid-row: 5;
    }

    p {
      text-align: left;
    }

    header nav,
    footer nav {
      display: flex;
      flex-wrap: wrap;
      align-items: stretch;
      align-content: stretch;

      span {
        margin: 0;
      }

      a {
        min-width: 60vw;

        @media (min-width: 768px) {
          min-width: 300px;

          &:first-child {
            margin-right: .5rem;
          }
        }

        &.early-access {
          background-color: rgb(232, 91, 70);
          border-color: rgb(232, 91, 70);
        }
      }
    }
  }

  >footer {
    grid-area: footer;
    margin: 0 !important;
    max-width: 100vw;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 1rem;
    background: var(--dark);
    
    @media (min-width: 992px) {
      margin-left: 0;
      grid-column: 1 / span 3;
      grid-row: 7;
    }

    a {
      color: $white !important;
    }

    #support {
      grid-area: support;
      display: flex;
      flex-wrap: wrap;
      flex-grow: 1;

      margin-bottom: 1rem;
      
      @media (min-width: 768px){
        margin-bottom: 0;
      } 
   }

    #footer {
      align-self: flex-end;
      flex-basis: 250px;
      flex-grow: 1;
    }
  }

  >.policy-banner {
    display: none;
    grid-area: policy-banner;

    @media (min-width: 992px) {
      margin-left: 0;
      margin-right: 0;
      grid-column: 1 / span 3;
      grid-row: 3;
      z-index: 1000;
    }

    p {
      margin: 1rem;
    }

    .policy-button,
    .policy-button-all {
      display: block;
      padding: .5rem;
      margin: 1rem;
      border: 2px outset;
    }
  }

  >.social-icons {
    grid-area: social-icons;
  }

  >#comments {
    grid-area: comments;

    @media (min-width: 768px) {
      margin-left: 0;
    }

    @media (min-width: 992px) {
      margin-left: 0;
      grid-column: 2;
      grid-row: 6;
    }
  }
}

.icons {
  display: flex;

  a {
    margin-left: .5rem;
    max-width: 96px;

    &:first-child {
      margin-left: 0;
    }

    img {
      border-radius: 7px;
      width: 100%;
      height: auto;
    }
  }
}

.cover-image {
  width: 100%;
  max-width: 500px;
}

figure {
  margin: 0;
  text-align: center;
}

img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
}

.post-image a {
  text-align: center;
  display: block;
}

.count {
  text-align: right;
  display: inline-block;

  &.w-2 {
    width: 2em;
  }

  &.w-3 {
    width: 3em;
  }
}

.unicode-icon {
  display: block;
  width: 1.5em;
  float: left;
  text-align: right;
  margin-right: .5rem;
  font-family: emoji;
}

a {
  text-decoration: none;
}

.pdf-only {
  display: none;
}

.blog-post .button {
  margin-left: 0;
  margin-right: 0;
}

form {
  border: 0;
  padding: 0;

  input,
  textarea {
    display: block;
    width: 100%;
  }

  fieldset>div {
    margin: .5rem;
  }

  .g-recaptcha {
    margin-top: .1rem;
  }

}

#comments {
  ol {
    list-style-type: none;
    padding-inline-start: 0;
  }

  img {
    float: left;
    margin: 0 .5rem 1rem 1rem;
  }
}

#support,
.http-401 {
  .patreon {
    display: block;
    flex-grow: 1;
    min-width: 80vw;

    @media (min-width: 768px) {
      min-width: 60vw;
    }

    a {
      padding: .5rem 1rem;
      border-radius: 2rem;
      background-color: rgb(232, 91, 70);
      display: block;
      color: $white !important;

      @media (min-width: 768px) {
        display: inline-block;
      }
    }
  }
}

.icons {
  .discord {
    border-bottom-right-radius: 0;
  }

  .patreon {
    border-radius: 0;
  }
}

.back::after {
  bottom: 0 !important;
}

.sm-down {
  display: initial;

  @media (min-width: 768px) {
    display: none;
  }
}

.d-flex .btn {
  margin: .5rem 0;
  flex-grow: 1;
  flex-basis: 0;
  
  @media (min-width: 992px) {
    &:first-child {
      margin: .5rem;
      margin-left: 0;
    }

    &:last-child {
      margin: .5rem;
      margin-right: 0;
    }
  }
}

.disabled {
  cursor: default !important;
}

[itemprop=mainEntity] h2 {
  margin-top: 1em;
}


.talkify-control-center {
  display: none;
}

h1, .h1, h2, .h2, h3 {
  @media (max-width: 575.98px) {
    margin: 0 2vmin;
  }
}

.patreon-logo {
  width: 1rem;
  height: 1rem;
  background-color: transparent;

  [data-color],
  [data-fill] {
    fill: rgb(255, 255, 255);
  }
}

.hyphenate {
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
}
.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.5%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}
